<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Django - Celery</title>
</head>
<body>
<h1>Celery with Redis/RabbitMQ</h1>
<p><a href="/">001. Back to main index</a></p>
<p><a href="/celery/redis">002. Redis</a></p>
<p><a href="/celery/rabbitmq">003. RabbitMQ</a></p>
<p><a href="/celery/fibon">004. Get n-th Fibonacci number</a></p>
<p><a href="/celery/weather">005. Get current weather in London (update each 5 sec)</a></p>
<p><a href="/celery/bots">006. WSGI. Generate some number of bots</a></p>
<p><a href="/celery/sessions">007. Sessions</a></p>
</body>
</html>