<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Django - Celery</title>
</head>
<body>
<h1>Celery with Redis/RabbitMQ</h1>
<p><a href="/">001. Back to main index</a></p>
<p><a href="/celery/fibonacci">004. Get n-th Fibonacci number (Celery worker)</a></p>
<p><a href="/celery/weather">005. Get current weather in London (update each 5 sec) using Openweather API (Celery Beat)</a></p>
<p><a href="/celery/generate">006. WSGI Celery task. Generate some number of bots (Celery worker)</a></p>
<p><a href="/celery/bots-list">007. List of requested bots (+sessions)</a></p>
</body>
</html>