{% extends 'base.html' %}

{% block title %} Adrian Holovaty {% endblock%}

{%block content%}
    <h1>The first article!</h1>

    <div>One of the Django creators is : {{name}} {{surname}}</div>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Adrian_Holovaty_in_2009.jpg/220px-Adrian_Holovaty_in_2009.jpg" alt="">
<div>
    Adrian Holovaty (born 1981) is an American web developer, journalist and entrepreneur from Chicago, Illinois, living in Amsterdam,
    the Netherlands. He is co-creator of the Django web framework and an advocate of "journalism via computer programming".
</div>
{% endblock%}
