asgiref==3.5.2
beautifulsoup4==4.11.1
cssutils==2.5.1
Django==4.0.6
django-admin-index==2.0.2
django-durationwidget==1.0.5
django-filter==22.1
django-grappelli==3.0.3
django-inlinecss==0.3.0
django-ordered-model==3.6
django-phone-field==1.8.1
django-suit==0.2.28
djangorestframework==3.13.1
future==0.18.2
Jinja2==3.1.2
Markdown==3.4.1
MarkupSafe==2.1.1
Pillow==9.2.0
pynliner==0.8.0
pytz==2022.1
soupsieve==2.3.2.post1
sqlparse==0.4.2
