<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Django - User Model Customization</title>
</head>
<body>
<h1>User Model Customization</h1>
<p><a href="/">001. Back to main index</a></p>
<p><a href="/custom-user/signup-proxy">002. Signup for User with Proxy</a></p>
<p><a href="/custom-user/all-staff-users">003. All not stuff users - using Proxy and ordering</a></p>
<p><a href="/custom-user/signup">004. Signup for User with Profile</a></p>
<p><a href="/custom-user/all-users">005. All users with Profile</a></p>
<p><a href="/custom-user/profile/1">006. Update user Profile (pk)</a></p>
</body>
</html>