{% load hosts %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Django - Routing</title>
</head>
<body>
<h1>Routing index:</h1>
<p><a href="/">001. Back to main index</a></p>
<p><a href="/routing/redirect">002. Redirect</a></p>
<p><a href="/routing/text">003. Text Response</a></p>
<p><a href="/routing/file-response">004. File Response</a></p>
<p><a href="/routing/json">005. JSON Response</a></p>
<p><a href="/routing/not-allowed">006. Not allowed</a></p>
<p><a href="/routing/function/1996/08/30">007. Function with parameters /year/month/day or / - default values </a></p>
<p><a href="/routing/render-html">008. Render HTML string </a></p>
<p><a href="/routing/render-template">009. Render HTML template </a></p>
<p><a href="/routing/render-to-string">010. Render to string </a></p>
<p><a href="/routing/request-properties">011. Request additional properties </a></p>
<p><a href="{% host_url 'routing_index' host 'www' %}" type="button">012. WWW subdomain</a></p>
<p><a href="{% host_url 'api' host 'host_api' %}" type="button">013. Custom subdomain api</a></p>
<p><a href="{% host_url 'beta' host 'host_beta' %}" type="button">014. Custom subdomain beta</a></p>
</body>
</html>