<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Django - Emails</title>
</head>
<body>
<h1>Emails index</h1>
<p><a href="/">001. Back to main index</a></p>
<p><a href="/emails/show-mail">002. Show email template</a></p>
<p><a href="/emails/send-mail">003. Send email to specific address</a></p>
<p><a href="/emails/signup">004. Signup with email confirmation</a></p>
<p><a href="/emails/logout">005. Logout</a></p>
<p><a href="/emails/subscription">006. Subscribe to email newsletter (Mailchimp) </a></p>
<p><a href="/emails/password_reset">007. Reset user password via email</a></p>
</body>
</html>