<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Django forms
    </title>
</head>
<body>
<h1>Forms index:</h1>
<p><a href="/">001. Back to main index</a></p>
<p><a href="/forms/search">002. HTML forms. Search form - GET & parameters </a></p>
<p><a href="/forms/file">002. HTML forms. Write to file using POST method</a></p>
<p><a href="/forms/model">003. Model-based forms and inherited from the Form class</a></p>
<p><a href="/forms/generic-form">004. Generic form</a></p>
<p><a href="/forms/validators-form">005. Form with custom validators</a></p>
<p><a href="/forms/function-form">006. Function-based form</a></p>
<p><a href="/forms/class-form">007. Class-based form</a></p>
<p><a href="/forms/model-form">008. Model-based form</a></p>
</body>
</html>


